In [3]:
import pandas as pd

In [4]:
buddy = pd.read_csv('buddymove_holidayiq.csv')

In [5]:
buddy.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [6]:
import sqlite3

In [7]:
#Establish a connection.

conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [10]:
#Insert the data into a new table called "review" in the database.

buddy.to_sql(name='review', con=conn)

/home/tcbic/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

1) Count how many rows you have.

In [11]:
#Create a cursor.

curs1 = conn.cursor()

In [12]:
#Write a query.

query1 = 'SELECT COUNT(*) FROM review;'

In [13]:
#Execute the query.

total_rows = curs1.execute(query1).fetchall()

In [14]:
print(total_rows)

[(249,)]

2) How many users who reviewed at least 100 Nature in the category also reviewed at least 100 in the Shopping category?

In [25]:
#Create a cursor.

curs2 = conn.cursor()

In [26]:
#Write a query.

query2 = """
SELECT COUNT(*)
FROM review
WHERE Nature >= 100 AND Shopping >= 100;
"""

In [27]:
#Execute the query.

users = curs2.execute(query2).fetchall()

In [28]:
print(users)

[(78,)]

3) (Stretch) What are the average number of reviews for each category?

In [29]:
#Create a cursor.

curs3 = conn.cursor()

In [30]:
#Write a query.

query3 = """
SELECT AVG(Sports), AVG(Religious), AVG(Nature), AVG(Theatre),
AVG(Shopping), AVG(Picnic)
FROM review;"""

In [31]:
avg_reviews_column = curs3.execute(query3).fetchall()

In [32]:
print(avg_reviews_column)

[(11.987951807228916, 109.77911646586345, 124.51807228915662, 116.37751004016064, 112.63855421686748, 120.40160642570281)]