In [1]:
import sqlite3

In [2]:
#Load the data.

conn = sqlite3.connect('rpg_db.sqlite3')

1) How many total Characters are there?

In [3]:
#Create a cursor object.

curs1 = conn.cursor()

In [4]:
#Write the query.

query1 = 'SELECT COUNT(*) FROM charactercreator_character;'

In [5]:
#Execute the query.

total_characters = curs1.execute(query1).fetchall()

In [6]:
print(total_characters)

[(302,)]

2) How many of each specific subclass?

Cleric

In [12]:
#Create a cursor object.

curs2a = conn.cursor()

In [13]:
#Write the query.

query2a = 'SELECT COUNT(*) FROM charactercreator_cleric;'

In [16]:
#Execute the query.

total_sub_cleric = curs2a.execute(query2a).fetchall()

In [17]:
print(total_sub_cleric)

[(75,)]

Fighter

In [18]:
#Create a cursor object.

curs2b = conn.cursor()

In [19]:
#Write the query.

query2b = 'SELECT COUNT(*) FROM charactercreator_fighter;'

In [20]:
#Execute the query.

total_sub_fighter = curs2b.execute(query2b).fetchall()

In [21]:
print(total_sub_fighter)

[(68,)]

Mage

In [22]:
#Create a cursor object.

curs2c = conn.cursor()

In [23]:
#Write the query.

query2c = 'SELECT COUNT(*) FROM charactercreator_mage;'

In [24]:
total_sub_mage = curs2c.execute(query2c).fetchall()

In [25]:
print(total_sub_mage)

[(108,)]

Necromancer

In [26]:
#Create a cursor object.

curs2d = conn.cursor()

In [27]:
#Write the query.

query2d = 'SELECT COUNT(*) FROM charactercreator_necromancer;'

In [28]:
total_sub_necro = curs2d.execute(query2d).fetchall()

In [29]:
print(total_sub_necro)

[(11,)]

Thief

In [30]:
#Create a cursor object.

curs2e = conn.cursor()

In [31]:
#Write the query.

query2e = 'SELECT COUNT(*) FROM charactercreator_thief;'

In [32]:
#Execute the query.

total_sub_thief = curs2e.execute(query2e).fetchall()

In [33]:
print(total_sub_thief)

[(51,)]

3) How many total Items?

In [38]:
#Create a cursor object.

curs3 = conn.cursor()

In [39]:
#Write the query.

query3 = 'SELECT COUNT(*) FROM armory_item;'

In [40]:
#Execute the query.

total_items = curs3.execute(query3).fetchall()

In [41]:
print(total_items)

[(174,)]

4) How many of the Items are weapons? How many are not?

In [42]:
#Create a cursor object.

curs4a = conn.cursor()

In [43]:
#Write the query.

query4a = 'SELECT COUNT(*) FROM armory_weapon;'

In [44]:
#Execute the query.

total_items_weapon = curs4a.execute(query4a).fetchall()

In [45]:
print(total_items_weapon)

[(37,)]

Total of Items that aren't weapons

In [47]:
total_items_not_weapons = 174-37

print(total_items_not_weapons)

137

5) How many Items does each character have? (Return first 20 rows)

In [48]:
#Create a cursor object.

curs5 = conn.cursor()

In [49]:
#Write the query.

query5 = '''SELECT character_id, COUNT(item_id)
FROM charactercreator_character_inventory
GROUP BY character_id 
LIMIT 20;'''

In [50]:
#Execute the query.

total_char_items = curs5.execute(query5).fetchall()

In [51]:
print(total_char_items)

[(1, 3), (2, 3), (3, 2), (4, 4), (5, 4), (6, 1), (7, 5), (8, 3), (9, 4), (10, 4), (11, 3), (12, 3), (13, 4), (14, 4), (15, 4), (16, 1), (17, 5), (18, 5), (19, 3), (20, 1)]

6) How many Weapons does each character have? (Return first 20 rows)

In [52]:
#Create a cursor object.

curs6 = conn.cursor()

In [53]:
query6 = '''SELECT inv.character_id, COUNT(item_ptr_id)
FROM charactercreator_character_inventory AS inv
LEFT JOIN armory_weapon 
ON inv.item_id = armory_weapon.item_ptr_id
GROUP BY character_id
LIMIT 20;'''

In [54]:
#Execute the query.

total_char_weapons = curs6.execute(query6).fetchall()

In [55]:
print(total_char_weapons)

[(1, 0), (2, 0), (3, 0), (4, 0), (5, 2), (6, 0), (7, 1), (8, 0), (9, 0), (10, 0), (11, 1), (12, 0), (13, 0), (14, 0), (15, 0), (16, 0), (17, 0), (18, 0), (19, 0), (20, 1)]

7) On average, how many Items does each Character have?

In [62]:
#Create a cursor object.

curs7 = conn.cursor()

In [63]:
query7 = '''SELECT AVG(item)
FROM(
SELECT character_id, COUNT(item_id) AS item
FROM charactercreator_character_inventory
GROUP BY character_id)
LIMIT 20;'''

In [66]:
#Execute the query.

avg_char_items = curs7.execute(query7).fetchone()

In [67]:
print(avg_char_items)

(2.9735099337748343,)

8) On average, how many Weapons does each character have?

In [56]:
#Create a cursor object.

curs8 = conn.cursor()

In [57]:
query8 = '''SELECT AVG(has_weapon)
FROM(
SELECT inv.character_id, COUNT(item_ptr_id) AS has_weapon
FROM charactercreator_character_inventory AS inv
LEFT JOIN armory_weapon 
ON inv.item_id = armory_weapon.item_ptr_id
GROUP BY character_id)
LIMIT 20;'''

In [68]:
#Execute the query.

avg_char_weapons = curs8.execute(query8).fetchone()

In [69]:
print(avg_char_weapons)

(0.6721854304635762,)

EXTRA:

#Exact character_id that has weapon.

SQL query:
SELECT inv.character_id, weapon.item_ptr_id
FROM charactercreator_character_inventory AS inv,
armory_weapon AS weapon
WHERE weapon.item_ptr_id = inv.item_id
GROUP BY item_ptr_id;