Part 1

In [1]:
import sqlite3

In [2]:
conn_a = sqlite3.connect('demo_data.sqlite3')

In [3]:
curs1 = conn_a.cursor()

In [4]:
create_demo_table = """
CREATE TABLE demo (
s CHAR,
x INTEGER, 
y INTEGER
);
"""

In [5]:
curs1.execute(create_demo_table)

In [6]:
insert_data1 = """
INSERT INTO demo (s, x, y)
VALUES ('g', 3, 9);
"""

In [7]:
curs1.execute(insert_data1)

In [8]:
insert_data2 = """
INSERT INTO demo (s, x, y)
VALUES ('v', 5, 7);
"""

In [9]:
curs1.execute(insert_data2)

In [10]:
insert_data3 = """
INSERT INTO demo (s, x, y)
VALUES ('f', 8, 7);
"""

In [11]:
curs1.execute(insert_data3)

In [12]:
curs1.close()

In [13]:
conn_a.commit()

In [14]:
#Create another connection.

conn_b = sqlite3.connect('demo_data.sqlite3')

Count how many rows you have - it should be 3!

In [15]:
curs2 = conn_b.cursor()

In [16]:
query1 = 'SELECT COUNT(*) FROM demo;'

In [17]:
a_1 = curs2.execute(query1).fetchall()

In [18]:
print(a_1)

[(3,)]

How many rows are there where both x and y are at least 5?

In [19]:
curs3 = conn_b.cursor()

In [20]:
query2 = 'SELECT COUNT(*) FROM demo WHERE x >=5 AND y >=5;'

In [21]:
a_2 = curs3.execute(query2).fetchall()

In [22]:
print(a_2)

[(2,)]

How many unique values of y are there (hint - COUNT() can accept a keyword DISTINCT)?

In [23]:
curs4 = conn_b.cursor()

In [24]:
query3 = 'SELECT COUNT(DISTINCT y) FROM demo;'

In [25]:
a_3 = curs4.execute(query3).fetchall()

In [26]:
print(a_3)

[(2,)]