In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('northwind_small.sqlite3')

What are the ten most expensive items (per unit price) in the database?

In [3]:
curs1 = conn.cursor()

In [4]:
query1 = """
SELECT ProductName, UnitPrice
FROM Product
ORDER BY UnitPrice DESC
LIMIT 10;
"""

In [5]:
ten_most_expensive = curs1.execute(query1).fetchall()

In [6]:
print("The ten most expensive items are:", ten_most_expensive)

The ten most expensive items are: [('Côte de Blaye', 263.5), ('Thüringer Rostbratwurst', 123.79), ('Mishi Kobe Niku', 97), ("Sir Rodney's Marmalade", 81), ('Carnarvon Tigers', 62.5), ('Raclette Courdavault', 55), ('Manjimup Dried Apples', 53), ('Tarte au sucre', 49.3), ('Ipoh Coffee', 46), ('Rössle Sauerkraut', 45.6)]

What is the average age of an employee at the time of their hiring? (Hint: a lot of arithmetic works with dates.)

In [7]:
curs2 = conn.cursor()

In [8]:
query2 = 'SELECT AVG(HireDate - BirthDate) FROM Employee;'

In [9]:
avg_age = curs2.execute(query2).fetchall()

In [10]:
print("The average age of an employee at the time of their hiring is:", avg_age)

The average age of an employee at the time of their hiring is: [(37.22222222222222,)]

(Stretch) How does the average age of employee at hire vary by city?

In [11]:
curs3 = conn.cursor()

In [15]:
query3 = 'SELECT AVG(HireDate - BirthDate), City FROM Employee GROUP BY City;'

In [16]:
avg_age_by_city = curs3.execute(query3).fetchall()

In [17]:
print("The average age of an employee at the time of their hiring by city is:", avg_age_by_city)

The average age of an employee at the time of their hiring by city is: [(29.0, 'Kirkland'), (32.5, 'London'), (56.0, 'Redmond'), (40.0, 'Seattle'), (40.0, 'Tacoma')]

What are the ten most expensive items (per unit price) in the database and their suppliers?

In [18]:
curs4 = conn.cursor()

In [19]:
query4 = """
SELECT ProductName, UnitPrice, CompanyName
FROM Product
LEFT JOIN Supplier
ON Product.SupplierID = Supplier.ID
ORDER BY UnitPrice DESC
LIMIT 10;
"""

In [20]:
ten_most_expensive_supplier = curs4.execute(query4).fetchall()

In [21]:
print("The ten most expensive items and their suppliers are:", ten_most_expensive_supplier)

The ten most expensive items and their suppliers are: [('Côte de Blaye', 263.5, 'Aux joyeux ecclésiastiques'), ('Thüringer Rostbratwurst', 123.79, 'Plutzer Lebensmittelgroßmärkte AG'), ('Mishi Kobe Niku', 97, 'Tokyo Traders'), ("Sir Rodney's Marmalade", 81, 'Specialty Biscuits, Ltd.'), ('Carnarvon Tigers', 62.5, 'Pavlova, Ltd.'), ('Raclette Courdavault', 55, 'Gai pâturage'), ('Manjimup Dried Apples', 53, "G'day, Mate"), ('Tarte au sucre', 49.3, "Forêts d'érables"), ('Ipoh Coffee', 46, 'Leka Trading'), ('Rössle Sauerkraut', 45.6, 'Plutzer Lebensmittelgroßmärkte AG')]

What is the largest category (by number of unique products in it)?

In [22]:
curs5 = conn.cursor()

In [23]:
query5 = """
SELECT CategoryName, COUNT(DISTINCT Product.ID)
FROM Category
LEFT JOIN Product
ON Category.ID = Product.CategoryID
GROUP BY CategoryID
ORDER BY COUNT(DISTINCT Product.ID) DESC
LIMIT 1;
"""

In [24]:
largest_category = curs5.execute(query5).fetchall()

In [25]:
print("The largest category by unique products is:", largest_category)

The largest category by unique products is: [('Confections', 13)]

(Stretch) Who's the employee with the most territories? Use TerritoryId (not name, region, or other fields) as the unique identifier for territories.

In [26]:
curs6 = conn.cursor()

In [27]:
query6 = """
SELECT EmployeeID, LastName, FirstName, COUNT(DISTINCT TerritoryID)
FROM Employee AS e, Territory AS t,
EmployeeTerritory AS et
WHERE e.ID = et.EmployeeID AND
t.ID = et.TerritoryID
GROUP BY EmployeeID
ORDER BY COUNT(DISTINCT TerritoryID) DESC
LIMIT 1;
"""

In [28]:
emp_most_territories = curs6.execute(query6).fetchall()

In [29]:
print("The employee with the most territories is:", emp_most_territories)

The employee with the most territories is: [(7, 'King', 'Robert', 10)]